html {
	 height: 100%;
}
body {
	font-family: 'Special Elite', system-ui;
	background-color: #fffdf5;
	color: #3f3f5a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    height: 100%;
}
blockquote {
	text-align: center;
	font-weight: 500;
	font-size: 2.2rem;
	max-width: 400px;
	line-height: 1.5;
	position: relative;
	padding: 0.1rem;
}
blockquote:before {
	content: '“';
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
	left: -5rem;
	top: -2rem;
}
blockquote:after {
	content: '”';
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 5rem;
	height: 5rem;
	right: -5rem;
	bottom: 2rem;
}
.btn1{
	color: #f1efe6;
	background-color: #3f3f5a;
	border: 1px solid #3f3f5a;
	padding: 10px 30px;
	border-radius: 20px;
}
.btn1:hover{
	background-color: #f1efe6;
	color: #3f3f5a;
	
}